<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>MVC With Hamburgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
